<div class="wisdomWrapper">

  <div class="something">
    <div class="flexcontainer">
      <ul>
        <p ui-sref="home">Home</p>
        <br>
        <p ui-sref="calendar">Calendar</p>
        <br>
        <p ui-sref="about">About</p>
        <br>
        <p ui-sref="reserve">Reserve</p>
      </ul>
    </div>
    <div class="ron">
      "{{quotes}}"
    </div>
  </div>
  <div class="box rotate">
    <img class="scotch" src="../img/lagavulin.png" alt="" ng-click="getNextQuote()">
  </div>
</div>
